<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Global Stream</title>
</head>
<body>
<!-- Navigation -->
<div th:include="navigation::top"></div>
<!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="#">Random Thoughts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <form class="form-inline" th:action="@{/posts/submitsearch}" method="get">
                    <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Key Word" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/posts/}">Home</a>
                    </li>
                    <shiro:user>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><shiro:principal property="userId"/></a>
                            <div class="dropdown-menu" aria-labelledby="userDropdownMenu">
                                <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                            </div>
                        </li>
                    </shiro:user>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
-->

    <hr>

    <!--page content container-->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <!--left navigation-->
                <div th:include="navigation::left"></div>
                <!--
                <div class="card" >
                    <img class="card-img-top" th:src="@{/images/ycy1.jpg}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">YCY</h5>
                        <p class="card-text">Believe in YCY.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li style="list-style-type:none;"><a th:href="@{/posts/}" class="list-group-item">Global Stream (Main Page)</a></li>
                        <li style="list-style-type:none;"><a th:href="@{/posts/dashboard}" class="list-group-item">Dashboard</a></li>
                        <li style="list-style-type:none;"><a th:href="@{/posts/createpost}" class="list-group-item">Create New Post</a></li>
                        <li style="list-style-type:none;"><a th:href="@{/posts/searchuser}" class="list-group-item">Search Post by User</a></li>
                        <li style="list-style-type:none;"><a th:href="@{/posts/searchpost}" class="list-group-item">Search Post by Keyword</a></li>
                    </ul>
                </div>
                -->
            </div>

            <div class="col-8">
                <!--post place for user-->
                <shiro:user>
                    <div th:include="navigation::create"></div>
                </shiro:user>
                <!--
                <form action="#" th:action="@{/posts/submitpost}" th:object="${post}" method="POST">
                    <label for="newpost">What's New? Tell the world something!</label>
                    <div class="form-group" id="newpost">
                        <label for="username">Your Name</label>
                        <textarea class="form-control" id="username" name="userId" rows="1" th:field="*{userId}" required pattern="\S+.*" maxlength="20"></textarea>
                        <br>
                        <label for="title">Title</label>
                        <textarea class="form-control" id="title" name="title" rows="1" th:field="*{title}" required pattern="\S+.*" maxlength="40"></textarea>
                        <br>
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3" th:field="*{content}" required maxlength="200"></textarea>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" style="float:right">Post</button>
                        </div>
                    </div>
                </form>
                -->
                <div class="row">
                    <hr>
                </div>
                <!--stream content-->
                <ul class="list-unstyled" th:each="item: ${postlist}">
                    <li class="media mb-2">
                        <img class="rounded-circle mr-3" th:src="@{/images/ycy1.jpg}" height="64" width="64" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#" class="mt-0 mb-1" th:text="${item.userId}"></a></h5>
                            <p th:text="${#dates.format(item.createTime, 'MM/dd/yyyy')}"></p>
                            <p th:text="${item.content}"></p>
                            <button th:if="${#lists.contains(favlist, item.id)}" type="button" class="btn btn-success">Favorited Post</button>
                            <a th:unless="${#lists.contains(favlist, item.id)}" type="button" class="btn btn-primary" th:href="@{/posts/addfavorite(postId=${item.id})}">Favorite</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>