<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Search Result</title>
</head>
<body>
<!-- Navigation -->
<div th:include="navigation::top"></div>

<hr>

<!--page content container-->
<div class="container">
    <div class="row">
        <div class="col-4">
            <!--left navigation-->
            <div th:include="navigation::left"></div>
        </div>

        <div class="col-8">
            <p>
                <a th:href="@{/posts/}">Back to Main page</a>
            </p>

            <div class="row">
                <hr>
                <div class="alert alert-primary" role="alert" th:if="${postlist.size()} eq 0">
                    Whoops! Seems no posts match your criteria. Try something else.
                </div>
            </div>

            <!--stream content-->
            <ul class="list-unstyled" th:each="item: ${postlist}">
                <li class="media mb-2">
                    <img class="rounded-circle mr-3" th:src="@{/images/ycy1.jpg}" height="64" width="64" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="#" class="mt-0 mb-1" th:text="${item.userId}"></a></h5>
                        <p th:text="${#dates.format(item.createTime, 'MM/dd/yyyy')}"></p>
                        <p th:text="${item.content}"></p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>